@use '../../styles/colors';

.aboutMe {
  display: flex;
  gap: 0 20px;

  justify-content: center;
  align-items: center;

  margin: 10px 0;

  width: 80%;

  img {
    width: 600px;
    height: 900px;
  }

  .description {
    width: 700px;
    letter-spacing: 2px;

    font-size: 15px;

    h2 {
      margin: 0 10px 20px;

      font-size: 35px;
    }

    p {
      text-align: justify;
    }

    button {
      margin: 20px 10px;
      padding: 15px 32px;

      background-color: colors.$darkBlue;
      color: colors.$white;

      border: none;
      border-radius: 30px;

      text-align: center;
      text-decoration: none;
      font-size: 16px;

      display: inline-block;

      transition: 0.5s ease-in-out;

      &:hover {
        background-color: colors.$lightBlue;
      }
    }
  }
}